.botao-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    transform: translate(0, -50%);
}

.botao-ligar {
	display: flex;
	height: 50px;
	padding: 0;
	background: var(--azul-principal);
	border: none;
	outline: none;
	border-radius: 16px;
	overflow: hidden;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
}

.botao-ligar i {
    font-size: 20px;
}

.botao-ligar:hover {
	background: var(--azul-secundario);
    transition: all 0.4s;
}

.botao-ligar:active {
	background: var(--azul-secundario);
}

.button__text,
.button__icon {
	display: inline-flex;
	align-items: center;
	padding: 0 24px;
	color: #fff;
	height: 100%;
}

.button__icon a,
.button__text a {
	display: inline-flex;
	align-items: center;
	color: #fff;
	height: 100%;
}

.button__icon {
	font-size: 1.5em;
	background: rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 1026px) {
    .botao-container {
		display: flex;
		flex-direction: row;
		justify-content: start;
		margin-right: 20rem;
	}
}

@media screen and (max-width: 530px) {
	
	.botao-container {
		margin: auto;
		transform: translate(5%, -200%);
	}
}

@media screen and (max-width: 475px) {
	
	.botao-container {
		margin: auto;
		transform: translate(5%, -150%);
	}

	.button__icon {
		display: none;
	}
}

@media screen and (max-width: 456px) {
	
	.botao-container {
		margin: auto;
		transform: translate(5%, -120%);
	}
}

@media screen and (max-width: 418px) {
	
	.botao-container {
		margin-top: -3rem;
		margin-left: -1rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.button__icon {
		display: block;
	}
}

@media screen and (max-width: 303px) {
	.button__icon {
		display: none;
	}
}