.testimonials-cabecalho {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.feedback-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

.feedback-titulo {
    color: var(--preto);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.9rem;
    margin-top: 5rem;
}

.feedback-cabecalho hr{
    margin: 0.5rem 40rem;
}

.feedback-subtitulo {
    color: var(--cinza-escuro);
}

.section-container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    padding-inline-start: 1rem;
    text-align: center;
}

.testimonials-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.card {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    background-color: var(--branco);
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.card i {
    font-size: 2.5rem;
    color: gold;
}

.card p {
    font-size: 1rem;
    font-weight: 500;
}

.card hr {
    width: 40px;
    margin: auto;
}

.card img {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    border: 1px solid var(--preto);
}

.card .name {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--preto);
    transition: 0.3s;

}

.card .name:hover {
    color: gold;
}

.testimonials-btn {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.feedback-btn {
    display: flex;
    border: none;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    color: var(--letra-branca);
    background: var(--azul-principal);
    cursor: pointer;
}

.feedback-btn:hover {
    color: var(--azul-principal);
    background-color: transparent;
    border: solid 1px var(--azul-principal);
    border-radius: 0.5rem;
    transition: background 0.2s;
}

  @media screen and (max-width: 768px) {
    .testimonials-grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }
  
  @media screen and (max-width: 426px) {
    .testimonials-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
