.wpp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #01ff5e;
  color: var(--branco);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}
.wpp-link:hover {
  transition: background 0.4s;
  background-color: #3ecf73;
}

.wpp-link i {
  color: var(--branco);
  margin-top: 14px;
} 

@media screen and (max-width: 475px) {
	
	.wpp-link {
    display: none;
  }
}