.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    margin-bottom: -1.5rem;
    margin-top: -1.5rem;
}

.navbar-logo {
    width: 180px;
    cursor: pointer;
}

.navbar-links li {
    margin-top: 1rem;
    display: inline-block;
    padding: 0px 20px;
}

.navbar-itens {
    font-weight: 300;
}

.navbar-itens:hover {
    font-weight: 400;
    text-decoration: underline;
}

.navbar-contatenos {
    color: var(--letra-branca);
    font-weight: 600;
    background-color: var(--azul-principal);
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
}

.navbar-contatenos:hover {
    color: var(--azul-principal);
    background-color: transparent;
    border: solid 1px var(--azul-principal);
    border-radius: 2rem;
    transition: background 0.2s ease 0s;

}

.navbar-linksdois li {
    display: none;
}

@media screen and (max-width: 1068px) {
    .navbar-links li {
        display: inline-block;
        padding: 0px 15px;
    }

    .navbar-linksdois li {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .navbar-links li {
        display: inline-block;
        padding: 0px 10px;
    }

    .navbar-linksdois li {
        display: none;
    }
}

@media screen and (max-width: 920px) {
    

    .navbar-itens {
        display: none;
    }

    .navbar-contatenos {
        display: block;
        margin-left: 0;
    }
}

@media screen and (max-width: 614px) {
    .navbar-contatenos {
        display: none;
    }

}
